# Dependency (Folder ini isinya ribuan file library, jangan di-upload)
node_modules/

# Environment Variables (PENTING: Jangan upload password/rahasia)
.env

# Logs (File catatan error dari npm)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS System Files (File sampah dari Mac/Windows)
.DS_Store
Thumbs.db

# Build output (Kalau nanti frontend sudah dicompile)
dist/
build/
/generated/prisma
